<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Intersoft.Crosslight.Android" publicKeyToken="71f3e3261ac778b5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5000.1" newVersion="5.0.5000.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Intersoft.Crosslight" publicKeyToken="71f3e3261ac778b5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5000.1" newVersion="5.0.5000.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>